{% extends 'index.html' %}
{% load static %}
{% comment %} {%extends 'home.html'%} {% endcomment %}
{% load crispy_forms_tags %}

{% block main %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        This is a danger alert checkout
    </div>
    {% endif %}

    <h1>Edicion de Alumnos</h1>
    <form action="{% url "actualizarAprendiz" aprendiz.id %}" method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}
        {% if mensaje %}
        
            <div class="alert alert-success" role="alert">
            Alumno actualizado Exitosamente
            </div>
        {% endif %}

        {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>    
{% endblock main %}