{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sam - Desarrollador de Software</title>
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <style>
        
    </style>
</head>
{% block main %}

<body>
    <main>
    <header>
        <h1>SAMUEL</h1>
        <p>Desarrollador de Software</p>
    </header>
    
    
    
    <footer>
        &copy; 2023 Samuel Padilla - Desarrollador de Software
    </footer>
</main>
</body>
{% endblock %}
</html>
