{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Clases de Programación en Python</title>
    <meta name="description" content="Anuncio de clases de programación en Python">
    <meta name="keywords" content="Python, programación, clases">
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">

</head>
<body>
    <h1>Lista de Usuarios</h1>
    <main>
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Ficha</th>
                <th scope="col">Programa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Pablo</th>
                <td>De tarso</td>
                <td>2333435</td>
                <td>ADSO</td>
              </tr>
              <tr>
                <th scope="row">Juan</th>
                <td>Jacob</td>
                <td>2560664</td>
                <td>ADSI</td>
              </tr>
              <tr>
                <th scope="row">Tomas</th>
                <td colspan="2">Mellizo</td>
                <td>Tecnico en Sistemas</td>
              </tr>
            </tbody>
          </table>
    </main>
</body>
</html>